larva3_frames_report/
larva3_tif/
larva4s014_tif/
swc/
Full_Flow_Source_Code/debug
Full_Flow_Source_Code/*.avi
Full_Flow_Source_Code/*.mat
*.tif
*.avi
*.mp4
*.mat
*.csv
*_frames/**/
latex/*.aux
latex/*.log
latex/*.synctex.gz
latex/*.eps
latex/*.blg
latex/*.bbl
